@model IEnumerable<AuthStore.Models.SanPham>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DonGia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayCapNhap)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ThongTin)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MoTa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HinhAnh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SoLuongTon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotXem)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotMua)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotBinhLuan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuotBinhChon)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Moi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNCC)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaLoaiSP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNSX)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DaXoa)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MaSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TenSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DonGia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayCapNhap)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ThongTin)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MoTa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HinhAnh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SoLuongTon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotXem)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotMua)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotBinhLuan)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LuotBinhChon)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Moi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNCC)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaLoaiSP)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaNSX)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DaXoa)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
