@using AuthStore.Models;
@model  IEnumerable<SanPham>


<!DOCTYPE html>
<html>
<head>
    <title>AuthStore - Make Your Day !</title>
    <link href="@Url.Content("~/Content/css/bootstrap.css")" rel="stylesheet" type="text/css" media="all" />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/Content/js/jquery.min.js")"></script>
    <script src="@Url.Content("~/Content/js/reg.js")"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="New Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap" rel="stylesheet">
    <!--//fonts-->
    <!-- start menu -->
    <link href="@Url.Content("~/Content/css/memenu.css")" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="@Url.Content("~/Content/js/memenu.js")"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <script src="@Url.Content("~/Content/js/simpleCart.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")"></script>

</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header-top">
            @Html.Action("HeaderTopPartial", "Home")
        </div>
        <div class="container">
            <div class="head-top">
                <div class="logo">
                    <a href="@Url.Action("Index","Home")"><img id="de_logo" src="@Url.Content("~/Content/images/logo.png")" alt=""></a>
                </div>
                @Html.Action("MenuPartial", "Home")
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>


    <!--content-->
    <div class="product">
        <div class="container">
            <div class="col-md-3 product-price">

                <div class=" rsidebar span_1_of_left">
                    <div class="of-left">
                        <h3 class="cate">Danh mục sản phẩm</h3>
                    </div>
                    <ul class="menu">
                        @foreach (var groupSP in Model.GroupBy(n => n.LoaiSanPham))
                        {
                            <li class="item1">
                                <a href="#">@groupSP.Key.TenLoai</a>
                                <ul class="cute">
                                    @foreach (var item in groupSP.GroupBy(n => n.NhaSanXuat))
                                    {
                                        <li class="subitem1"><a href="#">@item.Key.TenNSX</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                </div>
                <!--initiate accordion-->
                <script type="text/javascript">
                    $(function () {
                        var menu_ul = $('.menu > li > ul'),
                            menu_a = $('.menu > li > a');
                        menu_ul.hide();
                        menu_a.click(function (e) {
                            e.preventDefault();
                            if (!$(this).hasClass('active')) {
                                menu_a.removeClass('active');
                                menu_ul.filter(':visible').slideUp('normal');
                                $(this).addClass('active').next().stop(true, true).slideDown('normal');
                            } else {
                                $(this).removeClass('active');
                                $(this).next().stop(true, true).slideUp('normal');
                            }
                        });

                    });
                </script>
                <!---->
                <div class="product-middle">

                    <div class="fit-top">
                        <h6 class="shop-top">Lorem Ipsum</h6>
                        <a href="#" class="shop-now">SHOP NOW</a>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <!---->

                <div class="product-bottom">
                    <div class="of-left-in">
                        <h3 class="best">Bán chạy nhất</h3>
                    </div>
                    @foreach (var item in Model.Take(3)) // vì sao lại gọi là 1 cái model luôn, thì vì h nó là để dùng chung nên có thể có nhiều cái biến nó truyền vào thì dùng cái này
                                                        // ví dụ mà có 3 loại sản phẩm thì cũng đều có thể show cả temple này mà ko chỉnh sửa lại biến, kiểu cái này nó gọi như 1 cái nút cổ chai, nhiều nguồn dữ liệu dùng chung
                                                        //đây thì nó sẽ lấy 3 sản phẩm trong cái lstHDXM để truy vấn
                    {
                        <div class="product-go">
                            <div class=" fashion-grid">
                                <a href="#"><img class="img-responsive " src="@Url.Content("~/Content/images/product/"+item.HinhAnh+".jpg")" alt=""></a>
                            </div>
                            <div class=" fashion-grid1">
                                <h6 class="best2">
                                    <a href="#">
                                       @item.MoTa
                                    </a>
                                </h6>
                                <span class=" price-in1">@item.DonGia</span>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    }
                    </div>
           @*disscount*@ 
                <div class=" per1">
                    <a href="#">
                        <img class="img-responsive" src="@Url.Content("~/Content/images/product/bacninh (1).jpg")" alt="">
                        <div class="six1">
                            <h4>DISCOUNT</h4>
                            <p>Up to</p>
                            <span>60%</span>
                        </div>
                    </a>
                </div>
            </div>

            @RenderBody()

            <div class="clearfix"> </div>
            <nav class="in">
                <ul class="pagination">
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">«</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                    <li><a href="#">2 <span class="sr-only"></span></a></li>
                    <li><a href="#">3 <span class="sr-only"></span></a></li>
                    <li><a href="#">4 <span class="sr-only"></span></a></li>
                    <li><a href="#">5 <span class="sr-only"></span></a></li>
                    <li> <a href="#" aria-label="Next"><span aria-hidden="true">»</span> </a> </li>
                </ul>
            </nav>
        </div>

    </div>

    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="footer-top-at">

                <div class="col-md-4 amet-sed">
                    <h4>Về chúng tôi</h4>
                    <ul class="nav-bottom">
                        <li><a href="#">Hướng dẫn đặt hàng</a></li>
                        <li><a href="#">Đặt câu hỏi cho chúng tôi</a></li>
                        <li><a href="contact.html">Chi nhánh</a></li>
                        <li><a href="#">Giao hàng</a></li>
                        <li><a href="#">Khách thành viên</a></li>
                    </ul>
                </div>
                <div class="col-md-4 amet-sed ">
                    <h4>Liên hệ với chúng tôi</h4>

                    <p>
                        Đ/C: Hà Đông - Hà Nội - Việt Nam
                    </p>
                    <p>Hotline: 0947150729</p>
                    <p>Văn phòng: +84 947150729</p>
                    <ul class="social">
                        <li><a href="#"><i> </i></a></li>
                        <li><a href="#"><i class="twitter"> </i></a></li>
                        <li><a href="#"><i class="rss"> </i></a></li>
                        <li><a href="#"><i class="gmail"> </i></a></li>

                    </ul>
                </div>
                <div class="col-md-4 amet-sed">
                    <h4>Thông tin mới</h4>
                    <p>
                        Đăng nhập và nhận thông tin khuyến mãi !
                    </p>
                    <div class="header-right">
                        <ul>
                            <li><a href="login.html">Đăng Nhập</a></li>
                            <li><a href="register.html">Đăng Ký</a></li>

                        </ul>
                        <img src="@Url.Content("~/Content/images/logo-bct.png")" alt="" class="up-date-1" />
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div class="footer-class">
            <p>© 2021 Auth store All Rights Reserved | Design by  <a href="https://www.facebook.com/nnad2105/" target="_blank">Nnad_2105</a> </p>
        </div>
    </div>
</body>
</html>
