@*<!-Non modify--->*@

    <ul>
        <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/images/lo.png")" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/images/lo1.png")" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/images/lo2.png")" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/images/lo3.png")" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/images/lo4.png")" alt=""></a></li>
        <li><a href="#"><img class="img-responsive" src="@Url.Content("~/Content/images/lo5.png")" alt=""></a></li>
        <div class="clearfix"></div>
    </ul>

